<%= form_for(@upcomingevent) do |f| %>
    <fieldset>
  <% if @upcomingevent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@upcomingevent.errors.count, "error") %> prohibited this upcomingevent from being saved:</h2>

      <ul>
      <% @upcomingevent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :timestart %><br />
    <%= f.datetime_select :timestart %>
  </div>
  <div class="field">
    <%= f.label :timeexpire %><br />
    <%= f.datetime_select :timeexpire %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
        </fieldset>
<% end %>
