<p align="center" id="notice"><%= notice %></p>

<div class="bluebox" style="text-align: center">
  <h2><%= @upcomingevent.name %></h2>
</div>
</br>
<div class="bluebox" align="left">
  <table>
    <tbody>


    <p>
      <b>Description:</b>
      <%= @upcomingevent.description %>
    </p>

    <p>
      <b>Location:</b>
      <%= @upcomingevent.location %>
    </p>

    <p>
      <b>Reference:</b>
      <%= @upcomingevent.ref %>
    </p>

    <p>
      <b>Timestart:</b>
      <%= @upcomingevent.timestart %>
    </p>

    <p>
      <b>Timeexpire:</b>
      <%= @upcomingevent.timeexpire %>
    </p>


    <%= link_to 'Edit', edit_upcomingevent_path(@upcomingevent) %> |
    <%= link_to 'Back', upcomingevents_path %>
    </tbody>
  </table>
</div>
