<div class="bluebox" align="center">
  <h2>Listing users</h2>
</div>
</br>

<div class="bluebox" align="center">
  <table rules="rows" frame="below">
    <tbody>
    <tr>
      <th colspan="6" style="text-align: right;">
        <form method="New User" action="/users/new" class="button_to">
          <div>
            <input type="submit" value="New users">
          </div>
        </form>
      </th>
    </tr>
    <tr>
      <th style="width: 100px" align="left">User</th>
      <th style="width: 50px;text-align: left;"></th>
      <th style="width: 40px;text-align: left;"></th>

    </tr>

    <% for user in User.all do %>


        <td><%= user.name %></td>

        <td><%= link_to 'Detail', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Delete', user, :confirm => 'Are you sure?',
                        :method => :delete %></td>
        </tr>
    <% end %>

    <!--%= link_to 'Back', :controller => "admin", :action =>"login" %-->


    </tbody>
  </table>
  <table align="left">
    <tr>
      <th style="" align="left">
        <%= link_to 'Back', :controller => 'admin', :action => 'index' %>
      </th>
    </tr>
  </table>
</div>
